body {
  font-family: Arial, sans-serif;
  background-color: #333333;
}

main{
  display: flex;
}

.container {
  display: grid;
  grid-template-columns: 20px 1fr;
  grid-template-rows: 40px 1fr;
  grid-template-columns: 0px 1fr;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: grid-template-columns .25s;
}

.container.menu-open {
  grid-template-columns: 200px 1fr;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.sidebar-item {
  background-color: #bbb;
  height: 50px;
  margin-bottom: 10px;
}

.chat-window {
  flex: end;
  width: 100vh;
  height: 95vh;
  background-color: #F0F0F0;
  display: flex;
  flex-direction: column;
}

.chat-header {
  background-color: #6f6f6f;
  padding: 20px;
  text-align: center;
}

.chat-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: auto; 
  padding: 10px;
  height: 100vh;
}

  .chat-bubble {
    width: max-content;
    max-width: 40%; 
    height: auto;
    background-color: #000;
    border-radius: 0px 50px 50px 50px;
    overflow-wrap: break-word;
    align-self: flex-end;
    color: white;
    padding: 10px;
    align-items: center;
    margin-right: auto;
    margin-top: 2vh;
  }
  
  
  .chat-bubble2 {
    width: max-content;
    max-width: 40%; 
    height: auto;
    background-color: #000;
    border-radius: 50px 0px 50px 50px;
    overflow-wrap: break-word;
    align-self: flex-end;
    color: white;
    padding: 10px;
    align-items: center;
    margin-left: auto;
    margin-top: 2vh;
  }

.chat-bubble2 {
  align-self: flex-end;
}

@media (max-width: 650px) {
  .chat-bubble, .chat-bubble2 {
    max-width: 90%; /* Allows more width on smaller screens */
  }
}

.chat-input {
  background-color: #6f6f6f;
  padding: 10px;
  display: flex;
  gap: 10px;
}

.chat-input input {
  flex: 1;
  padding: 15px;
  border: none;
  border-radius: 5px;
}

.button {
  background-color: #333333;
  border-radius: 10px;
  width: 70px;
  padding: 10px;
  color: #fff;
}

.profile-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

.chatUsers{
  width: 10vh;
  height:0vh;
  display: flex;
  flex-direction:column;
  
}

.menu__item {
  display: flex;
  padding: 30px 30px 30px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  background-color: #999;
  gap: 10px;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

.sidebar-mm{
  display: flex;
  align-items: start;
  padding: 5vh 3vh;
  background-color: #333333;
  gap: 10px;
  flex-direction:column;
  overflow-y: scroll;
  height: 95vh;
  width: 40vh;
}
