.tile,
.placeholder-tile {
    user-select: none;
}

.tile.dragging {
    height: 76px;
    width: 76px;
    position: absolute;
    pointer-events: none;
    z-index: 1000;
    opacity: 0.8;
    cursor: grabbing;
}

@media screen and (max-width: 450px) {
    .tile.dragging {
        height: 66px;
        width: 66px;
    }
}

.placeholder-tile {
    background-color: lightgray;
    opacity: 0.3;
    display: none;
}

.tile {
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.tile span {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    padding: 1px;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 100px;
    color: white;
    z-index: 2;
    display: flex;
    justify-content: center;
}

.tile img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

